<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="giftgivers-helpers" value="https://pkgs.dev.azure.com/ST10438928/663d5a52-1332-4463-92cb-b12591f7fde0/_packaging/giftgivers-helpers/nuget/v3/index.json" />
  </packageSources>
</configuration>
